
<!--
<ul>

    <li><a routerLink="/user">User</a></li>
    <li><a routerLink="/about">About</a></li>

</ul>

<router-outlet></router-outlet>

<router-outlet></router-outlet>
  <app-user></app-user>


<div style="text-align:center">
    <h1>
        <span><b>{{ title }} </b> app is running!</span>
    </h1>
  <img width="800" src="/assets/img/ferrari.jpg">
  </div>
  <h2>Here are some links to help you :)</h2>
  <ul>
  <li>
    <h2><a target="_blank" href="http://t-online.de">Tour</a></h2>
  </li>
  <li>
    <h2><a target="_blnk" href="http://google.de">Another Link</a></h2>
  </li>


<ul>
  <li><a routerLink="/Formular">Formular</a></li>
</ul>
-->
  <router-outlet></router-outlet>
 

